<div class="col s12 l9">
  <div class="card profile-card">
    <div class="card-content center">
      <span class="card-title red-text">
        <a class="red-text" href="/{{ shortname }}">
          <h2 class="header">{{ person }}</h2></a>
      </span>
      <div class="row">
        <div class="chip">
          <a href="mailto:{{ shortname }}@csc.com"><p class="card-item">{{ shortname }}</p></a>
          Shortname
        </div>
        <div class="chip">
          <p class="card-item">{{ person.startdate }}</p>
          Start date
        </div>
        <div class="chip">
          <p class="card-item">{{ person.team }}</p>
          Team
        </div>
        <div class="chip">
          <p class="card-item">{{ person.capability }}</p>
          Capability
        </div>
      </div>
      <div class="row">
        {% if person.worksite %}<div class="chip">
          <p class="card-item">{{ person.worksite }}</p>
          Reporting to
        </div>{% endif %}
        <div class="chip">
          {% if not person.kite %}<p class="card-item">No</p>
          {% else %}<p class="card-item">Yes</p>{% endif %}
          KITE
        </div>
        <div class="chip">
          {% if not person.remote %}<p class="card-item">No</p>
          {% else %}<p class="card-item">Yes</p>{% endif %}
          Remote
        </div>
        <div class="chip">
          {% if not person.csctransfer %}<p class="card-item">No</p>
          {% else %}<p class="card-item">Yes</p>{% endif %}
          CSC Transfer
        </div>
        {% if person.cscid %}<div class="chip">
        <p class="card-item">{{ person.cscid }}</p>
        UTC ID</div>{% endif %}
        <div class="chip">
          <a target="_blank" href="/admin/app/person/{{ person.id }}/change/"><p class="card-item">Add</p></a>
          More Info
        </div>
      </div>
    </div>
  </div>
</div>
