{% load staticfiles %}
{% load render_table from django_tables2 %}
<html>
<head
<!-- OHAI
               \||/
                |  ^___.. ♥
      /\  /\   / (__,,,,|
     ) /^\) ^\/ _)
     )   /^\/   _)
     )   _ /  / _)
 /\  )/\/ ||  | )_)
{  }      |(,,) )__)
 ||      /    \)___)\
 | \____(      )___) )___
 \______(_______;;; __;;;
-->
<!-- import materialize -->
  <link type="text/css" rel="stylesheet" href="{% static 'app/css/materialize.css' %}"/>
<!-- some lovely icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<!-- odd styling -->
  <link type="text/css" rel="stylesheet" href="{% static 'app/css/app.css' %}"/>
<!-- such favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'app/img/favicon.png' %}"/>

</head>
<body>

<!-- ITEMS FOR NAV -->
<ul id="dropdown-pr" class="dropdown-content">
  {% for person in people %}{% if person.worksite == "Puerto Rico" %}
  <li><a href="/{{ person.shortname }}">{{ person }}</a></li>
  {% endif %}{% endfor %}
</ul>
<ul id="dropdown-kite" class="dropdown-content">
  {% for person in people %}{% if person.worksite == "Hartford" %}
  <li><a href="/{{ person.shortname }}">{{ person }}</a></li>
  {% endif %}{% endfor %}
</ul>

<!-- NAV -->
<nav class="pink" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo hide-on-med-and-down">UTC Onboarding</a>
    <ul class="right">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown-pr">Puerto Rico Staff<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a target="_blank" class="btn waves-effect waves-light teal" type="submit" name="action" href="/admin/app/person/add/">Add</a></li>
    </ul>
    <ul class="right">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown-kite">Sik KITE Staff<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
{% block content %}
  <div class="container">
    <div class="section no-pad-bot" id="index-banner">
<!-- WELCOME STUFFS -->
        <h1 class="header-main pink-text text-lighten-3">welcome</h1>
          <div class="row">
            <div class="subheader">
              Choose a person to get their information and see pending onboarding items.
              To add a new person to track, hit the <a class="button">add</a> button up top.
            </div>
            <blockquote>
              Click column headers below to sort the table, and shortnames to view the person details.
            </blockquote>
          </div>
        {% render_table table %}
<!-- WEBSITE NOTES -->
      <div class="section center">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center teal-text text-lighten-2"><i class="material-icons">add_circle_outline</i></h2>
              <h5 class="center">Please</h5>
              <p class="light">Be sure to type everything properly when adding a new user.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center teal-text text-lighten-2"><i class="material-icons">insert_emoticon</i></h2>
              <h5 class="center">Note</h5>
              <p class="light">Still in development. Some stuff doesn't work, like undoing a done item - please be patient.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center teal-text text-lighten-2"><a href="mailto:rshimada@csc.com"><i class="material-icons">mail_outline</i></h2>
              <h5 class="center">Broken?</a></h5>
              <p class="light">If something breaks please let me know via email for now please.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!-- FOOTER -->
  <footer class="page-footer pink lighten-1">
    <!-- <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="footer-light grey-text text-lighten-1">Built responsively with Django and Materialize CSS</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"> </h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Admin Only</h5>
          <ul>
            <li><a class="white-text" href="/admin/app/person/">All new staff</a></li>
            <li><a class="white-text" href="/admin/app/assignment/">All assignments</a></li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="footer-copyright">
      <div class="container">
        Built by <a class="pink-text text-lighten-3" href="mailto:rshimada@csc.com">@rshimada</a>
      </div>
    </div>
  </footer>

<!-- SCRIPTS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="{% static 'app/js/materialize.js' %}"></script>

</body>
</html>
