{% extends "app/index.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
<!-- CAT GENERATOR -->
    <div class="col l3 hide-on-med-and-down">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="/{{ shortname }}">
            <img src="static/app/img/cat/cat-{{ randimg }}-min.png"></a>
        </div>
      </div>
    </div>

<!-- PERSON MAIN -->
    <div class="col s12 l9">
      <div class="card profile-card">
        <div class="card-content center">
          <span class="card-title red-text">
            <a class="red-text" href="/{{ shortname }}">
              <h2 class="header">{{ person }}</h2></a>
          </span>
          <div class="row">
            <div class="chip">
              <a href="mailto:{{ shortname }}@csc.com"><p class="card-item">{{ shortname }}</p></a>
              Shortname
            </div>
            <div class="chip">
              <p class="card-item">{{ person.startdate }}</p>
              Start date
            </div>
            <div class="chip">
              <p class="card-item">{{ person.team }}</p>
              Team
            </div>
            <div class="chip">
              <p class="card-item">{{ person.capability }}</p>
              Capability
            </div>
          </div>
          <div class="row">
            {% if person.worksite %}<div class="chip">
              <p class="card-item">{{ person.worksite }}</p>
              Reporting to
            </div>{% endif %}
            <div class="chip">
              {% if not person.kite %}<p class="card-item">No</p>
              {% else %}<p class="card-item">Yes</p>{% endif %}
              KITE
            </div>
            <div class="chip">
              {% if not person.remote %}<p class="card-item">No</p>
              {% else %}<p class="card-item">Yes</p>{% endif %}
              Remote
            </div>
            <div class="chip">
              {% if not person.csctransfer %}<p class="card-item">No</p>
              {% else %}<p class="card-item">Yes</p>{% endif %}
              CSC Transfer
            </div>
            {% if person.cscid %}<div class="chip">
            <p class="card-item">{{ person.cscid }}</p>
            UTC ID</div>{% endif %}
            <div class="chip">
              <a target="_blank" href="/admin/app/person/{{ person.id }}/change/"><p class="card-item">Add</p></a>
              More Info
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- PENDING ITEMS -->
  <div class="row">
    <div class="col s12 l6">
      <div class="card">
        <div class="card-content grey lighten-5">
          <span class="card-title">Pending
            <i class="right small material-icons">sentiment_neutral</i>
          </span>
<!-- TAB TITLES -->
          <div class="row">
              <div class="col s12">
                <ul class="tabs">
                  <li class="tab col s3"><a class="active" href="#csc_tasks">CSC</a></li>
                  <li class="tab col s3"><a href="#utc_tasks">UTC</a></li>
                </ul>
              </div>
<!-- PENDING CSC TASKS -->
            <div id="csc_tasks" class="col s12">
            <form action="" method="POST">
              {% csrf_token %}
<!-- STAGE 1 CSC TASKS -->
                <ul class="collapsible" data-collapsible="accordion">
                  {% spaceless %}
                  {% for assignment in assignments %}
                  {% if assignment.task.stage == "1" and not assignment.complete and assignment.task.division == "CSC" %}
                  <li>
                    <div class="collapsible-header">
                      <input type="checkbox" name="assignment" id="{{ assignment.id }}" value="{{ assignment.id }}" />
                      <label class="deep-orange-text {% if assignment.comment %}tooltipped{% endif %}" for="{{ assignment.id }}" {% if assignment.comment %}data-tooltip="{{ assignment.comment }}"{% endif %}>
                        {% if assignment.comment %}<strong>{% endif %}
                          {{ assignment }}
                        {% if assignment.comment %}</strong>{% endif %}
                      </label>
                      {% if assignment.task.predecessor.all %}
                      <span class="new badge">{{ assignment.task.predecessor.all.count }}</span>
                      {% endif %}
                    </div>
                    <div class="collapsible-body">
                      {% for task in assignment.task.predecessor.all %}
                      <p>{{ task }}</p>
                      {% endfor %}
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% endspaceless %}
                </ul>
<!-- STAGE 2 CSC TASKS -->
                <ul class="collapsible" data-collapsible="accordion">
                  {% spaceless %}
                  {% for assignment in assignments %}
                  {% if assignment.task.stage == "2" and not assignment.complete and assignment.task.division == "CSC" %}
                  <li>
                    <div class="collapsible-header">
                      <input type="checkbox" name="assignment" id="{{ assignment.id }}" value="{{ assignment.id }}" />
                      <label class="cyan-text {% if assignment.comment %}tooltipped{% endif %}" for="{{ assignment.id }}" {% if assignment.comment %}data-tooltip="{{ assignment.comment }}"{% endif %}>
                        {% if assignment.comment %}<strong>{% endif %}
                          {{ assignment }}
                        {% if assignment.comment %}</strong>{% endif %}
                      </label>
                      {% if assignment.task.predecessor.all %}
                      <span class="new badge">{{ assignment.task.predecessor.all.count }}</span>
                      {% endif %}
                    </div>
                    <div class="collapsible-body">
                      {% for task in assignment.task.predecessor.all %}
                      <p>{{ task }}</p>
                      {% endfor %}
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% endspaceless %}
                </ul>
<!-- STAGE 3 CSC TASKS -->
                <ul class="collapsible" data-collapsible="accordion">
                  {% spaceless %}
                  {% for assignment in assignments %}
                  {% if assignment.task.stage == "3" and not assignment.complete and assignment.task.division == "CSC" %}
                  <li>
                    <div class="collapsible-header">
                      <input type="checkbox" name="assignment" id="{{ assignment.id }}" value="{{ assignment.id }}" />
                      <label class="deep-purple-text {% if assignment.comment %}tooltipped{% endif %}" for="{{ assignment.id }}" {% if assignment.comment %}data-tooltip="{{ assignment.comment }}"{% endif %}>
                        {% if assignment.comment %}<strong>{% endif %}
                          {{ assignment }}
                        {% if assignment.comment %}</strong>{% endif %}
                      </label>
                      {% if assignment.task.predecessor.all %}
                      <span class="new badge">{{ assignment.task.predecessor.all.count }}</span>
                      {% endif %}
                    </div>
                    <div class="collapsible-body">
                      {% for task in assignment.task.predecessor.all %}
                      <p>{{ task }}</p>
                      {% endfor %}
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% endspaceless %}
                </ul>
              <br /><input type="submit" value="mark done" class="teal btn waves-light">
              <a target="_blank" class="btn waves-effect waves-light right grey lighten-4 teal-text" type="submit" name="action" href="/admin/app/assignment/?complete__exact=0&o=4.1&person__id__exact={{ person.id }}">Add Note</a>
            </form>
          </div>
<!-- PENDING UTC TASKS -->
            <div id="utc_tasks" class="col s12">
              <form action="" method="POST">
                {% csrf_token %}
<!-- STAGE 1 UTC TASKS -->
                  <ul class="collapsible" data-collapsible="accordion">
                    {% spaceless %}
                    {% for assignment in assignments %}
                    {% if assignment.task.stage == "1" and not assignment.complete and not assignment.task.division == "CSC" %}
                    <li>
                      <div class="collapsible-header">
                        <input type="checkbox" name="assignment" id="{{ assignment.id }}" value="{{ assignment.id }}" />
                        <label class="deep-orange-text {% if assignment.comment %}tooltipped{% endif %}" for="{{ assignment.id }}" {% if assignment.comment %}data-tooltip="{{ assignment.comment }}"{% endif %}>
                          {% if assignment.comment %}<strong>{% endif %}
                            {{ assignment }}
                          {% if assignment.comment %}</strong>{% endif %}
                        </label>
                        {% if assignment.task.predecessor.all %}
                        <span class="new badge">{{ assignment.task.predecessor.all.count }}</span>
                        {% endif %}
                      </div>
                      <div class="collapsible-body">
                        {% for task in assignment.task.predecessor.all %}
                        <p>{{ task }}</p>
                        {% endfor %}
                      </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endspaceless %}
                  </ul>
<!-- STAGE 2 UTC TASKS -->
                  <ul class="collapsible" data-collapsible="accordion">
                    {% spaceless %}
                    {% for assignment in assignments %}
                    {% if assignment.task.stage == "2" and not assignment.complete and not assignment.task.division == "CSC" %}
                    <li>
                      <div class="collapsible-header">
                        <input type="checkbox" name="assignment" id="{{ assignment.id }}" value="{{ assignment.id }}" />
                        <label class="cyan-text {% if assignment.comment %}tooltipped{% endif %}" for="{{ assignment.id }}" {% if assignment.comment %}data-tooltip="{{ assignment.comment }}"{% endif %}>
                          {% if assignment.comment %}<strong>{% endif %}
                            {{ assignment }}
                          {% if assignment.comment %}</strong>{% endif %}
                        </label>
                        {% if assignment.task.predecessor.all %}
                        <span class="new badge">{{ assignment.task.predecessor.all.count }}</span>
                        {% endif %}
                      </div>
                      <div class="collapsible-body">
                        {% for task in assignment.task.predecessor.all %}
                        <p>{{ task }}</p>
                        {% endfor %}
                      </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endspaceless %}
                  </ul>
  <!-- STAGE 3 UTC TASKS -->
                  <ul class="collapsible" data-collapsible="accordion">
                    {% spaceless %}
                    {% for assignment in assignments %}
                    {% if assignment.task.stage == "3" and not assignment.complete and assignment.task.division == "All UTC" %}
                    <li>
                      <div class="collapsible-header">
                        <input type="checkbox" name="assignment" id="{{ assignment.id }}" value="{{ assignment.id }}" />
                        <label class="deep-purple-text {% if assignment.comment %}tooltipped{% endif %}" for="{{ assignment.id }}" {% if assignment.comment %}data-tooltip="{{ assignment.comment }}"{% endif %}>
                          {% if assignment.comment %}<strong>{% endif %}
                            {{ assignment }}
                          {% if assignment.comment %}</strong>{% endif %}
                        </label>
                        {% if assignment.task.predecessor.all %}
                        <span class="new badge">{{ assignment.task.predecessor.all.count }}</span>
                        {% endif %}
                      </div>
                      <div class="collapsible-body">
                        {% for task in assignment.task.predecessor.all %}
                        <p>{{ task }}</p>
                        {% endfor %}
                      </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endspaceless %}
                  </ul>
<!-- STAGE 3 UTC BU TASKS -->
                  <span>Business-unit specific</span>
                  <ul class="collapsible" data-collapsible="accordion">
                    {% spaceless %}
                    {% for assignment in assignments %}
                    {% if assignment.task.stage == "3" and not assignment.complete and assignment.task.division != "CSC" and assignment.task.division != "All UTC" %}
                    <li>
                      <div class="collapsible-header">
                        <input type="checkbox" name="assignment" id="{{ assignment.id }}" value="{{ assignment.id }}" />
                        <label class="deep-purple-text {% if assignment.comment %}tooltipped{% endif %}" for="{{ assignment.id }}" {% if assignment.comment %}data-tooltip="{{ assignment.comment }}"{% endif %}>
                          {% if assignment.comment %}<strong>{% endif %}
                            {{ assignment }}
                          {% if assignment.comment %}</strong>{% endif %}
                        </label>
                        {% if assignment.task.predecessor.all %}
                        <span class="new badge">{{ assignment.task.predecessor.all.count }}</span>
                        {% endif %}
                      </div>
                      <div class="collapsible-body">
                        {% for task in assignment.task.predecessor.all %}
                        <p>{{ task }}</p>
                        {% endfor %}
                      </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endspaceless %}
                  </ul>
                <br /><input type="submit" value="mark done" class="teal btn waves-light">
                <a target="_blank" class="btn waves-effect waves-light right grey lighten-4 teal-text" type="submit" name="action" href="/admin/app/assignment/?complete__exact=0&o=4.1&person__id__exact={{ person.id }}">Add Note</a>
              </form>
            </div>
          </div>
          {% if messages %}<ul class="messages">
            {% for message in messages %}<li{% if message.tags %} class="message {{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}</ul>{% endif %}
        </div>
      </div>
    </div>

<!-- LEGEND -->
    <div class="col s12 l6">
      <div class="card">
        <div class="card-content teal">
          <span class="card-title white-text">Legend
            <i class="right small material-icons">color_lens</i>
          </span>
          <div class="card-content grey lighten-5">
            <table id="legend">
              <col style="width:10%">
              <col style="width:90%">
              <tbody>
                <tr>
                  <td><i class="material-icons teal-text">looks_one</i></td>
                  <td>Expand to see pre-requisites</td>
                </tr>
                <tr>
                  <td><i class="material-icons deep-orange-text">indeterminate_check_box</i></td>
                  <td>Can be completed before or soon after start date</td>
                </tr>
                <tr>
                  <td><i class="material-icons cyan-text">indeterminate_check_box</i></td>
                  <td>Can be completed after new hire starts</td>
                </tr>
                <tr>
                  <td><i class="material-icons deep-purple-text">indeterminate_check_box</i></td>
                  <td>One or more pre-requisites - complete last</td>
                </tr>
                <tr>
                  <td><strong><i class="material-icons black-text">format_bold</i></strong></td>
                  <td>Bold items have comments, hover to see</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

<!-- COMPLETED ITEMS -->
    <div class="col s12 l6">
      <div class="card">
        <div class="card-content grey lighten-4">
          <span class="card-title">Completed
            <i class="right small material-icons">sentiment_very_satisfied</i>
          </span>
          <form action="" method="post">
            <!-- THANKS DJANGO -->
            {% csrf_token %}
            {% spaceless %}
            {% for assignment in assignments %}
            {% if assignment.complete %}
            <input type="checkbox" name="assignment" id="{{ assignment.id }}" value="{{ assignment.id }}" checked disabled="disabled"/>
            {% if assignment.comment %}
            <label class="gray-text tooltipped" for="{{ assignment.id }}" data-tooltip="{{ assignment.comment }}"><strong>{{ assignment }}</strong></label><br />
            {% endif %}
            {% if not assignment.comment %}
            <label class="gray-text" for="{{ assignment.id }}">{{ assignment }}</label><br />
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endspaceless %}
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- PERSON CONTACT -->
  <div class="col s12 l6">
    <div class="card profile-card">
      <div class="card-content">
        <table class="responsive-table highlight">
          <thead>
            <tr>
              <th>Contact</th>
              <th>Email</th>
              <th>Phone</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="cell-label">Work</td>
              <td><a href="mailto:{{ shortname }}@csc.com">{{ shortname }}@csc.com</a></td>
              <td>{{ person.workphone }}</td>
              <td>{{ person.workcity }}, {{ person.workstate }}</td>
            </tr>
            {% if person.personalphone or person.personalcity %}<tr>
              <td class="cell-label">Personal</td>
              <td><a href="mailto:{{ person.personalemail }}">{{ person.personalemail }}</a></td>
              <td>{{ person.personalphone }}</td>
              <td>{{ person.personalcity }}, {{ person.personalstate }}</td>
            </tr>{% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- MISC NUMBERS -->
  <div class="col s12">
    <div class="card profile-card">
      <div class="card-content">
        <table class="responsive-table highlight">
          <tbody>
            <tr>
              <td class="cell-label">Employee number</td>
              <td class="td-bold">{{ person.employid }}</td>
              <td class="cell-label">Token number</td>
              <td class="td-bold">{{ person.tokenserial }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
