{% extends "app/index.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
<!-- CAT GENERATOR -->
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="/{{ shortname }}">
            <img src="static/app/img/cat/cat-{{ randimg }}-min.png"></a>
        </div>
      </div>
    </div>

<!-- PERSON MAIN -->
    <div class="col s12 m9 l9">
      <div class="card">
        <div class="card-content center">
          <span class="card-title red-text">
            <a class="red-text" href="/{{ shortname }}">
              <h2 class="header">{{ person }}</h2></a>
          </span>
          <div class="row">
            <div class="chip">
              <p class="card-item">{{ shortname }}</p>
              Shortname
            </div>
            <div class="chip">
              <p class="card-item">{{ person.startdate }}</p>
              Start date
            </div>
            <div class="chip">
              <p class="card-item">{{ person.capability }}</p>
              Capability
            </div>
            <div class="chip">
              <p class="card-item">{{ person.team }}</p>
              Team
            </div>
          </div>
          <div class="row">
            <div class="chip">
              {% if not person.kite %}
              <p class="card-item">No</p>
              {% else %}
              <p class="card-item">Yes</p>
              {% endif %}
              KITE
            </div>
            <div class="chip">
              {% if not person.remote %}
              <p class="card-item">No</p>
              {% else %}
              <p class="card-item">Yes</p>
              {% endif %}
              Remote
            </div>
            <div class="chip">
              {% if not person.csctransfer %}
              <p class="card-item">No</p>
              {% else %}
              <p class="card-item">Yes</p>
              {% endif %}
              CSC Transfer
            </div>  
            {% if person.cscid %}
            <div class="chip">
            <p class="card-item">{{ person.cscid }}</p>
            UTC ID
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- PERSON CONTACT -->
  <div class="card">
    <div class="card-content">
      <table class="responsive-table highlight">
        <thead>
          <tr>
            <th></th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cell-label">Work</td>
            <td><a href="mailto:{{ shortname }}@csc.com">{{ shortname }}@csc.com</a></td>
            <td>{{ person.workphone }}</td>
            <td>{{ person.workcity }}, {{ person.workstate }}</td>
          </tr>
          <tr>
            <td class="cell-label">Personal</td>
            <td><a href="mailto:{{ person.personalemail }}">{{ person.personalemail }}</a></td>
            <td>{{ person.personalphone }}</td>
            <td>{{ person.personalcity }}, {{ person.personalstate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- PENDING ITEMS -->
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Pending
            <i class="right small material-icons">face</i>
            <h6 class="subheader">(Hover over bolded items for comments)</h6>
          </span>
          <form action="" method="POST">
            {% csrf_token %}
            {% for task in tasks %}
            {% if not task.complete %}
            <input type="checkbox" name="task" id="{{ task.id }}" value="{{ task.id }}" />
            {% if task.comment %}
            <label class="teal-text text-darken-4 tooltipped" for="{{ task.id }}" data-tooltip="{{ task.comment }}"><strong>{{ task }}</strong></label><br />
            {% endif %}
            {% if not task.comment %}
            <label class="teal-text text-darken-4" for="{{ task.id }}">{{ task }}</label><br />
            {% endif %}
            {% endif %}
            {% endfor %}
            <br />
            <input type="submit" value="mark done" class="teal btn waves-light">
            <a target="_blank" class="btn waves-effect waves-light white teal-text" type="submit" name="action" href="/admin/app/assignment/">
              Add Note</a>
          </form>
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="message {{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
<!-- COMPLETED ITEMS -->
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Completed
            <i class="right small material-icons">insert_emoticon</i>
          </span>
          <form action="" method="post">
            {% csrf_token %}
            {% for task in tasks %}
            {% if task.complete %}
            <input type="checkbox" name="task" id="{{ task.id }}" value="{{ task.id }}" checked disabled="disabled"/>
            {% if task.comment %}
            <label class="gray-text tooltipped" for="{{ task.id }}" data-tooltip="{{ task.comment }}"><strong>{{ task }}</strong></label><br />
            {% endif %}
            {% if not task.comment %}
            <label class="gray-text" for="{{ task.id }}">{{ task }}</label><br />
            {% endif %}
            {% endif %}
            {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- MISC NUMBERS -->
  <div class="card" style="background-color: #F5F5F5">
    <div class="card-content">
      <table class="responsive-table highlight">
        <tbody>
          <tr>
            <td class="cell-label">Employee number</td>
            <td class="td-bold">{{ person.employid }}</td>
            <td class="cell-label">Token number</td>
            <td class="td-bold">{{ person.tokenserial }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
