.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.message {
    min-width: 250px;
    margin-left: -125px;
    background-color: #B2DFDB;
    color: #424242;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center bar */
    bottom: 30px; /* 30px from the bottom */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

.card-item, .td-bold {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.44);
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
  margin-top: -25px;
}

.chip {
  font-size: 10px !important;
}

.brand-logo, .footer-light {
  font-weight: 200 !important;
}

.header-main {
  font-size: 3rem;
  text-transform: uppercase;
  text-weight: 100;
}

td {
  font-size: 12px !important;
}

.cell-label {
  font-weight: 300;
  text-transform: uppercase;
}

.card-image {
  max-height: 300px;
}

label {
  margin: 0 0 4px 0;
}

tr.tight {
  padding: 0;
}

#legend td, #legend tr {
  padding: 0;
}

.profile-card {
  background-color: #F5F5F5;
}

.collapsible, .collapsible.popout > li.active, .collapsible.popout > li {
  box-shadow: none !important;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: none;
}

.collapsible-header {
  padding: 0.8rem 1rem 0.3rem 1rem;
  border-bottom: 1px solid #eee;
}

.collapsible-header.active {
  border-bottom: 0px solid #fff;
  box-shadow: none;
}

.collapsible-body p {
  padding: 0.5rem 1rem 0.5rem 3rem;
}

span.badge {
  right: 30px;
  line-height: 20px;
  min-width: 2rem;
}

span.badge.new:after {
  content: "";
}
